{% extends 'base.html' %}

{% block content %}
    <main class="main">
        <div class="container">
            <div class="Reg-LogIn-section">
                <h2 class="Reg-LogIn-section__title">Восстановление пароля</h2>
                <form method="POST" class="Reg-LogIn-section__form">
                    {% csrf_token %}
                    <input type="email" id="email" name="email" placeholder="Электронная почта" value="{{ form.email.value|default:'' }}" required class="form__email" {% if form.email.errors %}aria-invalid="true"{% endif %}>
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                    <button type="submit" class="Reg-LogIn-section__button">Восстановить</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
