{% extends 'base.html' %}

{% block content %}
    <main class="main">
        <div class="container">
            <div class="Reg-LogIn-section">
                <h2 class="Reg-LogIn-section__title">Вход</h2>
                <form method="POST" class="Reg-LogIn-section__form">
                    {% csrf_token %}
                    <!-- Поле username -->
                    {{ form.username }}
                    <!-- Поле пароля с иконкой -->
                    <div class="form__password-field">
                        {{ form.password }}
                        <span class="toggle-password" onclick="togglePasswordVisibility()">
                            <i class="fas fa-eye-slash eye-icon"></i>
                        </span>
                    </div>
                    <label for="remember-me" class="Reg-LogIn-section__remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me" class="checkbox__remember-me">
                        Запомнить меня
                    </label>
                    <button type="submit" class="Reg-LogIn-section__button">Войти</button>
                </form>
                <p class="Reg-LogIn-section__additional-links">
                    Еще не зарегистрированы? <a href="{% url 'profile:registration' %}">Зарегистрироваться</a>
                </p>
                <p class="Reg-LogIn-section__additional-links">
                    <a class="links__forgot-password" href="/forgot-password">Забыли пароль?</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}