{% extends 'base.html' %}

{% block content %}
    <main class="main">
        <div class="container">
            <div class="Reg-LogIn-section">
                <h2 class="Reg-LogIn-section__title">Проверьте свою электронную почту</h2>
                
                <p class="Reg-LogIn-section__desc">
                    Мы отправили письмо на электронный адрес <span>a****@g****.**</span>. 
                    Перейдите по ссылке в письме для восстановления пароля.
                    Если письма нет во входящих, то попробуйте найти его в других папках.
                </p>
            </div>
        </div>
    </main>
{% endblock %}
