{% extends 'base.html' %}

{% block content %}
    <main class="main">
        <div class="container">
            <div class="Reg-LogIn-section">
                <h2 class="Reg-LogIn-section__title">Введите новый пароль</h2>
                <form method="POST" class="Reg-LogIn-section__form">
                    {% csrf_token %}
                    <div class="form__password-field">
                        <input type="password" id="id_new_password1" name="new_password1" placeholder="Пароль" required class="form__password">
                        <span class="toggle-password" onclick="togglePasswordVisibility('id_new_password1')">
                            <i class="fas fa-eye-slash eye-icon"></i>
                        </span>
                    </div>
                    <div class="form__password-field">
                        <input type="password" id="id_new_password2" name="new_password2" placeholder="Повторите пароль" required class="form__password">
                        <span class="toggle-password" onclick="togglePasswordVisibility('id_new_password2')">
                            <i class="fas fa-eye-slash eye-icon"></i>
                        </span>
                    </div>
                    {% if form.errors %}
                        <div class="error">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button type="submit" class="Reg-LogIn-section__button">Сохранить</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    <script>
        function togglePasswordVisibility(fieldId) {
            var field = document.getElementById(fieldId);
            var icon = field.nextElementSibling.querySelector('.eye-icon');
            if (field.type === "password") {
                field.type = "text";
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            } else {
                field.type = "password";
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            }
        }
    </script>
{% endblock %}
